@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

.App {
  text-align: center;
}

.App-header {
  padding: .1em;
  color: white;
  margin-bottom: 1em;
  background-color: rgb(102, 43, 129);
  font-family: 'Permanent Marker', cursive;
  font-weight: lighter;
  font-size: 40px;
  /* margin-bottom: 3px; */
}

.app-description{
  font-size: 25px;
  font-family: 'Overpass', sans-serif;
  font-weight: lighter;
  position: relative; top: -40px;
}

.App-title {
  font-size: 1.5em;
}

.galleryList{
  border: 2px;
  text-align: center;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  column-gap: 1.5px;
  row-gap: 1.5em;
}

/* resizes the images from looking gigantic to being proportionate with the page */
.imgFix {
  height: 500px;
  width: auto;  
}

.galleryItem {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 10px;
  height: 400 px;
  margin: auto;
}

.img2Crop {
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.imgDescription{
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(102, 43, 129);
  border-radius: 15px;
  height: 370px;
  width: auto;
}

.footer{
  padding: 2em;
}